<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>Deposite form</title>
    <link rel="stylesheet" href="/css/DepositeFormCss.css">
</head>

<body>
    <div class="wraper">
        <a id="home-link" href="/admin/home">Cancle</a>
        <p th:each="instance : ${data}">
            <td th:text="${instance.key} + ' : '"></td>
            <td th:text="${instance.value}"></td>
        </p>
        <form id="deposite-form" th:action="@{/admin/transection-success}" method="post">
            <input type="hidden" name="type" th:value="${type}">
            <label>Enter amount</label>
            <input type="number" name="amount" placeholder="Enter amount" required="required">
            <input name="AccountNumber" th:value="${accountNumber}" type="hidden">
            <button type="submit">Deposite</button>
        </form>
    </div>
</body>

</html>